@import url('https://fonts.googleapis.com/css2?family=Marcellus&family=Poppins:ital,wght@0,200;1,100&family=Roboto:wght@100&family=Vesper+Libre&display=swap');

* {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}

.wrapper 
{
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.804);;
    font-family: 'Marcellus', serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Vesper Libre', serif;  

    display: flex;
    justify-content: center;
    align-items: center;
}

.container
{
    background-color: white;
    border: 5px solid white;
    border-radius: 0.8rem;
    padding: 3rem;

    overflow: visible;
    position: relative;
}

input, textarea
{
    margin-left: 0.6rem;
    width: 15rem;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.792);
   
    padding: 0.5rem;
    outline: none;
    
    font-size: 1rem;

    position: relative;
}


textarea
{
    width: 20rem;
    resize: none;
    
}
*::placeholder
{
    font-size: 0.8rem;
    font-family: cursive;
}

#tg
{
    font-size: 4rem;
    position: absolute;
    top: -8%; 
    left: 38%;

    color: white;
    background-color: black;
    border: 2px solid black;
    border-radius: 50%;
}

.btn
{
    width: 6rem;
    /* border-radius: 5px; */
    padding: 8px;
    margin-top: 0.6rem;

    position: relative;

    z-index: 1;
}
.btn::before
{
    content: "";
    
    position: absolute; 
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    z-index: -1;
    background-color: crimson;

    transform: scaleX(0);
    opacity: 0;
    transform-origin: left;

    transition-duration: 0.4s;
}
.btn:hover::before
{
    transform: scaleX(1);
    opacity: 1;
}

.box
{
    position: relative;
}
span> #green
{
    background-color: green;
    color: white;
    border: 1px solid green;
    border-radius: 50%;
    font-size: 0.8rem;

    position: absolute;
    bottom: 0.3rem;
    right: 1rem;

}
span> #red
{
    font-size: 0.8rem;
    background-color: white;
    color: red;
    font-size: 0.8rem;

    position: absolute;
    right: 1rem;
    bottom: 0.1rem;

}
textarea+ span>#red
{
    bottom: 1rem;
}

span>i
{
    opacity: 0.6;
}

#eye-close, #eye-open
{
    position: absolute;
    bottom: 0.6rem;
    right: 4rem;
}
