*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.wrapper{
    width: 100%;
    min-height: 100vh;

    padding-top: 1rem;
    padding-left: 1rem;
    background: rgb(76, 86, 97);
}

#inpbox{
    width: 300px;
    padding: 0.5rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    margin: 1rem 0px;

    outline:none;
    border: 2px solid grey;
    border-radius: 5px;
}

#inpbox::placeholder{
    font-size: 0.9rem;;
}

#btn{
    padding: 10px 15px;
    margin-left: 0.5rem;
    border: 2px solid white;
    border-radius: 5px;

    background: white;
    font-weight: 600;

    transition-duration: 0.5s;
}
#btn:hover{
    cursor: pointer;

    background: skyblue;
    color: white;
}

.pg{

    width: fit-content;
    border: 2px solid white;
    border-radius: 8px;

    padding: 1rem 0rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-top: 3rem;

    font-size: 1rem;
    letter-spacing: 1px;
    word-spacing: 4px;
    line-height: 1.5rem;

    background: rgba(0, 0, 0, 0.626);
    color: white;
}


.clrbtn{

    margin-top: 0.5rem;
    padding: 15px 30px;
    border-radius: 6px;
    font-weight: 600;

    background: red;
    color: white;
    z-index: 1;

    position: relative;
}
.clrbtn:hover{
    color: black;
}
.clrbtn::before{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    border-radius: 6px;
    background-color: white;
    z-index: -1;

    transform: scaleX(0);
    transform-origin: left;
    transition-duration: 0.1s;
}
.clrbtn:hover::before{
    opacity: 1;
    transform: scaleX(1);
}
