*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.wrapper{
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.calcbox{

    min-width: 20%;

    display: flex;
    flex-direction: column;

    gap: 2rem;

    border: 2px solid grey;
    border-radius: 1rem;
    padding: 2rem 1rem;

    background-color: rgba(0, 0, 0, 0.553);
}
.btnsbox{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

    row-gap: 1.2rem;
    column-gap: 1rem;
}

.inpbox{
    width: 100%;

    padding: 0.8rem;
    outline: none;

    border-radius: 0.5rem;
}

button{
    max-width: 4rem;
    padding: 8px 5px;

    background-color: white;
    color: black;
    border: 1px solid slategrey;

    font-weight: 500;

    border-radius: 0.8rem;
    text-align: center;
}

.operator{
    font-size: medium;
    background-color: rgb(253, 170, 0);
}

.inpbox::placeholder{
    font-size: medium;
}
